.pagination-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0; }
  .pagination-block .naviation-button {
    background: none;
    border: none;
    background-color: #edae1f;
    color: #ffffff;
    padding: 0 20px;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 1px; }
    .pagination-block .naviation-button:disabled {
      background-color: #ffce5f; }
  .pagination-block .pagination {
    list-style: none;
    margin: 0; }
    .pagination-block .pagination .page-item {
      display: inline-block; }
      .pagination-block .pagination .page-item button {
        line-height: 40px;
        width: 40px;
        text-align: center;
        font-size: 18px;
        margin: 0 5px;
        border-radius: 2px;
        color: #1e1e1e;
        border: none;
        background: none; }
      .pagination-block .pagination .page-item.active button {
        background-color: #edae1f;
        color: #ffffff; }
