.pagination-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  .naviation-button {
    background: none;
    border: none;
    background-color: #edae1f;
    color: #ffffff;
    padding: 0 20px;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 1px;
    &:disabled {
      background-color: #ffce5f;
    }
  }
  .pagination {
    list-style: none;
    margin: 0;
    .page-item {
      display: inline-block;
      button {
        line-height: 40px;
        width: 40px;
        text-align: center;
        font-size: 18px;
        margin: 0 5px;
        border-radius: 2px;
        color: #1e1e1e;
        border: none;
        background: none;
      }
      &.active {
        button {
          background-color: #edae1f;
          color: #ffffff;
        }
      }
    }
  }
}
