.course-list-item {
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  align-content: center; }
  .course-list-item .featured-image {
    flex: 0 0 30%;
    margin-bottom: -4px; }
  .course-list-item .course-content {
    padding: 0 30px;
    flex: 0 0 70%; }
    .course-list-item .course-content .button-group {
      margin: 10px 0; }
      .course-list-item .course-content .button-group button {
        background: #f1a941;
        border: none;
        padding: 5px;
        border-radius: 5px;
        margin: 0 5px; }
        .course-list-item .course-content .button-group button i {
          color: #ffffff; }
        .course-list-item .course-content .button-group button.active {
          background: #00a0ba; }
          .course-list-item .course-content .button-group button.active i {
            color: #ffffff; }
    .course-list-item .course-content .course-duration {
      color: #bebebe;
      font-size: 13px;
      margin-bottom: 15px; }
    .course-list-item .course-content .detail-block {
      align-items: center;
      align-content: center; }
    .course-list-item .course-content .course-title {
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 15px;
      margin-bottom: 15px; }
    .course-list-item .course-content .location-title {
      font-size: 15px; }
    .course-list-item .course-content .course-description {
      font-size: 13px; }
    .course-list-item .course-content .ratings {
      margin: 15px 0; }
      .course-list-item .course-content .ratings .rate-star i {
        font-size: 15px; }
      .course-list-item .course-content .ratings span {
        font-size: 12px; }
    .course-list-item .course-content .course-cta {
      text-align: center; }
      .course-list-item .course-content .course-cta .price {
        font-size: 15px;
        margin-bottom: 10px; }
        .course-list-item .course-content .course-cta .price span {
          display: block;
          font-size: 22px;
          margin: 5px 0;
          font-weight: 500;
          color: #00a0ba; }
