.course {
  margin: 0 10px 40px; }
  .course a {
    text-decoration: none;
    color: initial; }
  .course .featured-image {
    position: relative; }
    .course .featured-image img {
      height: 211.75px;
      width: 312.41px; }
    .course .featured-image .hover {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 160, 186, 0.5);
      display: flex;
      align-items: center; }
      .course .featured-image .hover .button-group {
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: right; }
        .course .featured-image .hover .button-group button {
          background: #f1a941;
          border: none;
          padding: 5px;
          border-radius: 5px;
          margin: 0 5px; }
          .course .featured-image .hover .button-group button i {
            color: #ffffff; }
          .course .featured-image .hover .button-group button.active {
            background: #ffffff; }
            .course .featured-image .hover .button-group button.active i {
              color: #f1a941; }
      .course .featured-image .hover div {
        text-align: center;
        width: 100%; }
  .course:hover .featured-image .hover {
    opacity: 1; }
  .course .course-content {
    font-size: 14px;
    padding: 20px; }
    .course .course-content > div {
      margin-bottom: 10px; }
    .course .course-content .course-title {
      font-weight: 900;
      min-height: 32px;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .course .course-content .course-duration {
      font-size: 12px; }
    .course .course-content .ratings {
      margin: 15px 0; }
      .course .course-content .ratings .star-rate .rate-star i {
        font-size: 15px; }
      .course .course-content .ratings span {
        font-size: 12px; }
    .course .course-content .price {
      float: right; }
