.user-preferences {
  padding: 90px; }
  .user-preferences .heading {
    color: #757575;
    letter-spacing: 1px;
    line-height: 2;
    margin-bottom: 35px; }
  .user-preferences .settings-block {
    margin-bottom: 25px; }
  .user-preferences .form-block {
    margin-bottom: 35px; }
    .user-preferences .form-block label {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 1px;
      padding-bottom: 5px;
      padding-bottom: 10px;
      display: block; }
  .user-preferences .notice {
    margin-top: 10px;
    font-size: 12px; }
