.contact-container {
  margin-top: -50px;
  padding-top: 30px;
  width: 80%;
  margin-left: 10%; }
  .contact-container .center-details {
    margin-top: 70px; }
    .contact-container .center-details h4 {
      margin-bottom: 5px; }
    .contact-container .center-details .center-option {
      font-size: 14px;
      padding: 10px 0px; }
      .contact-container .center-details .center-option i {
        align-content: center;
        margin-right: 10px; }
  .contact-container .agent-filter-container {
    margin-top: 0px; }
    .contact-container .agent-filter-container .agent-filter {
      width: 30%; }
  .contact-container .agent-detail-container {
    margin-top: 0px; }
    .contact-container .agent-detail-container .center-details {
      margin-top: 0px; }

.input-group {
  margin: 10px 0; }
  .input-group label {
    margin-bottom: 10px;
    display: block;
    font-size: 13px; }
  .input-group .form-input input {
    background: #f8f8f8;
    padding: 15px 20px; }
  .input-group .form-select {
    background: #f8f8f8; }

.input-area-group {
  margin: 10px 0; }
  .input-area-group label {
    margin-bottom: 10px;
    display: block;
    font-size: 13px; }
  .input-area-group .form-input input {
    background: #f8f8f8;
    padding: 15px 20px;
    height: 200px; }
  .input-area-group .form-select {
    background: #f8f8f8; }

.form-submit {
  margin: 30px -15px; }
