.contact-container {
  margin-top: -50px;
  padding-top: 30px;
  width: 80%;
  margin-left: 10%;
  .center-details {
    margin-top: 70px;
    h4 {
      margin-bottom: 5px;
    }
    .center-option {
      font-size: 14px;
      padding: 10px 0px;
      i {
        align-content: center;
        margin-right: 10px;
      }
    }
  }
  .agent-filter-container {
    margin-top: 0px;
    .agent-filter {
      width: 30%;
    }
  }
  .agent-detail-container {
    margin-top: 0px;
    .center-details {
      margin-top: 0px;
    }
  }
}
.input-group {
  margin: 10px 0;
  label {
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
  }
  .form-input {
    input {
      background: #f8f8f8;
      padding: 15px 20px;
    }
  }
  .form-select {
    background: #f8f8f8;
  }
}
.input-area-group {
  margin: 10px 0;
  label {
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
  }
  .form-input {
    input {
      background: #f8f8f8;
      padding: 15px 20px;
      height: 200px;
    }
  }
  .form-select {
    background: #f8f8f8;
  }
}
.form-submit {
    margin: 30px -15px;
}