.profile-page {
  background-color: #f8f8f8;
  padding-bottom: 100px; }
  .profile-page .header-menu {
    text-align: center;
    margin-bottom: 70px; }
    .profile-page .header-menu ul {
      list-style: none;
      background-color: #ffffff;
      padding: 20px 50px;
      border-radius: 10px;
      box-shadow: 0 0 5px #e6e6e6;
      display: inline-block; }
      .profile-page .header-menu ul li {
        display: inline-block;
        padding: 0 20px; }
        .profile-page .header-menu ul li a {
          color: #9e9d9d;
          text-decoration: none;
          font-weight: 500;
          padding-bottom: 6px; }
        .profile-page .header-menu ul li.active a {
          color: #00a0ba;
          font-weight: 900; }
  .profile-page .bookings .course-booking .course-booking-header {
    padding-bottom: 20px; }
    .profile-page .bookings .course-booking .course-booking-header .row {
      background: #fff;
      padding: 20px 0;
      border-radius: 5px;
      box-shadow: 0 0 5px #ececec;
      border-bottom: 4px solid #edae1f;
      font-weight: 500; }
  .profile-page .bookings .course-booking .course-booking-row {
    background: #ffffff;
    margin-bottom: 15px;
    padding: 20px 0 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ececec;
    align-items: center; }
  .profile-page .tabs .nav-tabs {
    padding-left: 0; }
    .profile-page .tabs .nav-tabs .nav-item .nav-link {
      cursor: pointer;
      border-color: transparent;
      border-top-width: 3px; }
      .profile-page .tabs .nav-tabs .nav-item .nav-link.active {
        border-left-color: #eaeaea;
        border-right-color: #eaeaea;
        border-top-color: #00a0ba;
        background: #fff; }
  .profile-page .tabs .tab-content .tab-pane.active {
    background-color: #fff; }
    .profile-page .tabs .tab-content .tab-pane.active::before {
      content: "";
      height: 2px; }

.user-information {
  background-color: #ffffff;
  padding: 50px; }
  .user-information .user-details {
    padding: 20px;
    line-height: 2; }
    .user-information .user-details .name {
      color: #00a0ba;
      font-size: 25px;
      font-weight: 500; }
    .user-information .user-details .form-input input {
      border: 1px solid #e6e6e6; }
    .user-information .user-details .date-of-birth .form-select {
      min-width: auto;
      display: inline-block; }
      .user-information .user-details .date-of-birth .form-select .selected-dropdown span {
        padding: 0 10px; }
    .user-information .user-details .row {
      margin-bottom: 15px; }
  .user-information .update-profile {
    margin-top: 10px; }

.payment-method .card {
  position: relative;
  margin: auto;
  max-width: 400px;
  color: #fff;
  background: #242424;
  border: 1px solid #242424;
  border-radius: 10px;
  background-clip: padding-box;
  overflow: hidden;
  padding: 30px; }
  .payment-method .card .chip {
    position: relative;
    width: 50px;
    height: 40px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #ffffff 0%, #bbbbbb 100%);
    border: 1px solid #322d28;
    border-radius: 10px;
    background-clip: padding-box;
    overflow: hidden; }
    .payment-method .card .chip .side {
      position: absolute;
      top: 8px;
      width: 12px;
      height: 24px;
      border: 1px solid #322d28;
      box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset, 0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset; }
    .payment-method .card .chip .side.left {
      left: 0;
      border-left: none;
      border-radius: 0 2px 2px 0;
      background-clip: padding-box; }
    .payment-method .card .chip .side.right {
      right: 0;
      border-right: none;
      border-radius: 2px 0 0 2px;
      background-clip: padding-box; }
    .payment-method .card .chip .side:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: inline-block;
      width: 100%;
      height: 0px;
      margin: auto;
      border-top: 1px solid #322d28;
      box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset, 0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1); }
    .payment-method .card .chip .vertical {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 8.66666667px;
      height: 12px;
      border: 1px solid #322d28;
      box-shadow: 0 0 5px rgba(144, 133, 87, 0.25) inset, 0 0 5px rgba(144, 133, 87, 0.25), 0 0 4px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset; }
      .payment-method .card .chip .vertical:after {
        content: "";
        position: absolute;
        left: -8.66666667px;
        display: inline-block;
        width: 26px;
        height: 0px;
        margin: 0;
        border-top: 1px solid #322d28;
        box-shadow: 0 0 5px rgba(136, 136, 136, 0.25) inset, 0 0 5px rgba(134, 134, 134, 0.25), 0 0 4px rgba(0, 0, 0, 0.1); }
      .payment-method .card .chip .vertical.top {
        top: 0;
        border-top: none; }
        .payment-method .card .chip .vertical.top:after {
          top: 12px;
          width: 17.33333333px; }
      .payment-method .card .chip .vertical .top .vertical.bottom {
        bottom: 0;
        border-bottom: none; }
    .payment-method .card .chip .vertical.bottom:after {
      bottom: 12px; }

.payment-method .data {
  position: relative;
  z-index: 100;
  text-transform: uppercase; }

.payment-method .data .pan,
.payment-method .data .month,
.payment-method .data .year,
.payment-method .data .year:before,
.payment-method .data .name-on-card,
.payment-method .data .date {
  position: relative;
  z-index: 20;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000; }

.payment-method .data .pan:before,
.payment-method .data .month:before,
.payment-method .data .year:before,
.payment-method .data .year:before:before,
.payment-method .data .name-on-card:before,
.payment-method .data .date:before,
.payment-method .data .pan:after,
.payment-method .data .month:after,
.payment-method .data .year:after,
.payment-method .data .year:before:after,
.payment-method .data .name-on-card:after,
.payment-method .data .date:after {
  position: absolute;
  z-index: -10;
  content: attr(title);
  color: rgba(0, 0, 0, 0.2);
  text-shadow: none; }

.payment-method .data .pan:before,
.payment-method .data .month:before,
.payment-method .data .year:before,
.payment-method .data .year:before:before,
.payment-method .data .name-on-card:before,
.payment-method .data .date:before {
  top: -1px;
  left: -1px;
  color: rgba(0, 0, 0, 0.1); }

.payment-method .data .pan:after,
.payment-method .data .month:after,
.payment-method .data .year:after,
.payment-method .data .year:before:after,
.payment-method .data .name-on-card:after,
.payment-method .data .date:after {
  top: 1px;
  left: 1px;
  z-index: 10; }

.payment-method .data .pan {
  position: relative;
  z-index: 50;
  margin: 0;
  letter-spacing: 1px;
  font-size: 26px; }

.payment-method .data .first-digits {
  margin: 0; }

.payment-method .data .exp-date-wrapper {
  margin-top: 15px;
  line-height: 1;
  font-size: 12px; }

.payment-method .data .exp-date-wrapper:before,
.payment-method .data .exp-date-wrapper:after {
  content: " ";
  display: table; }

.payment-method .data .exp-date-wrapper:after {
  clear: both; }

.payment-method .data .exp-date-wrapper .left-label {
  float: left;
  display: inline-block;
  letter-spacing: 0.5px; }

.payment-method .data .exp-date-wrapper .exp-date {
  display: inline-block;
  float: left;
  margin-left: 10px;
  text-align: center; }

.payment-method .data .exp-date-wrapper .exp-date .year:before {
  content: "/"; }

.payment-method .data .name-on-card {
  margin-top: 20px; }

.payment-method .lines-up:before {
  content: "";
  position: absolute;
  top: -110px;
  left: -70px;
  z-index: 2;
  width: 480px;
  height: 300px;
  border-bottom: 2px solid #0e0d0d;
  border-radius: 0 0 60% 90%;
  background-clip: padding-box;
  box-shadow: inset 1px 1px 44px #484848;
  background: #3c3a3a;
  background: radial-gradient(ellipse at center, rgba(64, 49, 178, 0) 44%, #3c3a3a 100%); }

.notifications .notifications-body {
  background: #ffffff;
  padding: 40px 50px 20px; }

.notifications .notifications-header {
  margin-bottom: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.notifications .alert {
  font-size: 14px; }
