.form-input {
  position: relative;
  margin-bottom: 15px; }
  .form-input textarea {
    padding: 10px 20px;
    width: 100%;
    box-shadow: none;
    border: none;
    font-family: "Roboto", sans-serif;
    background-color: #f8f8f8; }
  .form-input.has-errors textarea {
    border-color: #cc6363 !important;
    box-shadow: 0 0 2px 1px #ffa3a3; }
  .form-input .form-errors {
    list-style: none;
    text-align: left;
    font-size: 12px;
    padding: 10px 0 0; }
    .form-input .form-errors li {
      padding-bottom: 10px;
      color: #cc6363; }
      .form-input .form-errors li:last-child {
        padding-bottom: 0; }
