.page-header {
  padding: 50px;
  position: relative;
  text-align: center;
  margin-bottom: 50px; }
  .page-header h1 {
    text-transform: uppercase; }
  .page-header .title2 {
    margin-bottom: 0px;
    margin-top: -20px; }
