.city-card {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  .name {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .price {
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
    span {
      color: #5ae2c6;
    }
  }
}
