.detail-content {
  margin: 0% 10%; }
  .detail-content .advantage-item {
    padding-bottom: 30px; }
    .detail-content .advantage-item i {
      display: inline-block;
      margin-right: 15px;
      font-size: 30px;
      color: #00a0ba;
      text-align: center;
      align-content: center; }
    .detail-content .advantage-item .item-description {
      margin-left: -50px; }
