@import "_colors";

header {
  background-color: #00a1b6;
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .site-logo {
      display: inline-block;
      padding: 20px 0;
      img {
        max-width: 150px;
      }
    }
    nav {
      ul {
        list-style: none;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        li {
          display: inline-block;
          font-size: 14px;
          padding: 0 15px;
          a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
          }
        }
        .country-selector {
          color: #ffffff;
          display: flex;
          align-items: center;
          font-size: 12px;
          cursor: pointer;
          img {
            max-width: 25px;
            margin-right: 10px;
          }
        }
      }
    }
    .call-to-action {
      .btn {
        padding: 10px 20px;
        text-transform: uppercase;
        letter-spacing: 0;
      }
    }
  }
}
.compare-cta-button {
  position: fixed;
  bottom: 0;
  right: 45px;
  z-index: 10000;
  a {
    &.btn {
      border-radius: 5px 5px 0 0;
      background-color: $color2;
      border-color: $color2;
      span {
        background-color: #fff;
        color: $color2;
        padding: 3px 5px;
        border-radius: 50%;
        font-size: 10px;
        margin-left: 10px;
      }
    }
  }
}
