.helper-page {
  text-align: center;
  padding: 50px 0; }
  .helper-page img {
    max-width: 200px;
    margin-bottom: 55px; }
  .helper-page .heading-4,
  .helper-page .heading-2 {
    color: #555;
    margin-bottom: 10px; }
