.course-card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
  overflow: hidden;
  height: 100%; }
  .course-card .card-image {
    min-height: 180px;
    padding: 10px;
    position: relative; }
    .course-card .card-image .location {
      position: absolute;
      bottom: 5px;
      right: 10px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 900; }
      .course-card .card-image .location span {
        font-size: 15px; }
    .course-card .card-image .price {
      color: #fff;
      border-radius: 5px;
      display: inline-block;
      background: rgba(0, 0, 0, 0.4);
      padding: 10px;
      font-size: 12px; }
    .course-card .card-image .is-eligible {
      color: #fff;
      border-radius: 5px;
      display: inline-block;
      padding: 6px 20px;
      background-color: #edae1f;
      float: right;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 10px;
      text-align: center; }
  .course-card .card-body {
    padding: 30px 20px 25px; }
    .course-card .card-body .heading-5 {
      height: 63px; }
    .course-card .card-body .ratings {
      font-size: 12px;
      margin-bottom: 15px;
      display: block;
      margin-bottom: 0; }
      .course-card .card-body .ratings > span {
        display: block;
        margin-left: 0;
        margin: 15px 0; }
    .course-card .card-body .duration {
      font-size: 12px;
      font-weight: 600; }
    .course-card .card-body .description {
      font-size: 12px;
      margin-bottom: 20px;
      min-height: 28px; }
