.datepicker-container {
  position: relative; }
  .datepicker-container .datepicker-input-container {
    position: relative;
    background: #f8f8f8; }
    .datepicker-container .datepicker-input-container .duration-icon {
      position: absolute;
      top: 12px;
      left: 16px; }
  .datepicker-container .datepicker-input input {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    padding: 15px 20px 15px 45px; }
  .datepicker-container .datepicker-input.has-errors input {
    border-color: #cc6363 !important;
    box-shadow: 0 0 2px 1px #ffa3a3; }
  .datepicker-container .datepicker-input .form-errors {
    list-style: none;
    text-align: left;
    font-size: 12px;
    padding: 10px 0 0; }
    .datepicker-container .datepicker-input .form-errors li {
      padding-bottom: 10px;
      color: #cc6363; }
      .datepicker-container .datepicker-input .form-errors li:last-child {
        padding-bottom: 0; }
  .datepicker-container .datepicker {
    position: absolute;
    top: 50px;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 40px 0 rgba(16, 36, 94, 0.2);
    margin-top: 5px; }
    .datepicker-container .datepicker-content {
      padding: 12px 8px;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      flex-grow: 1; }
    .datepicker-container .datepicker .styled-calendar {
      display: flex;
      justify-content: stretch; }
      .datepicker-container .datepicker .styled-calendar.selected-dates-left {
        flex-direction: row; }
      .datepicker-container .datepicker .styled-calendar.selected-dates-right {
        flex-direction: row-reverse; }
      .datepicker-container .datepicker .styled-calendar.selected-dates-top {
        flex-direction: column; }
      .datepicker-container .datepicker .styled-calendar.selected-dates-bottom {
        flex-direction: column-reverse; }
    .datepicker-container .datepicker .calendar-header .close-datepicker {
      border-radius: 50%;
      padding: 5px;
      background-color: #cacaca;
      color: #fff;
      position: absolute;
      top: -15px;
      right: -15px; }
    .datepicker-container .datepicker .calendar-header .calendar-header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.1em;
      margin-bottom: 20px; }
      .datepicker-container .datepicker .calendar-header .calendar-header-container .month-toggler {
        text-align: center;
        font-size: 18px;
        background: #00afc2;
        color: #fff;
        border: none;
        border-radius: 50%;
        padding: 0px; }
      .datepicker-container .datepicker .calendar-header .calendar-header-container .displayed-month {
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px; }
    .datepicker-container .datepicker .month {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      text-align: center; }
    .datepicker-container .datepicker .week,
    .datepicker-container .datepicker .week-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      text-align: center; }
      .datepicker-container .datepicker .week .day,
      .datepicker-container .datepicker .week-header .day {
        flex-grow: 1;
        width: 14.28%;
        margin: 0;
        border: 0;
        padding: 0;
        font-size: 15px;
        font-weight: 500; }
    .datepicker-container .datepicker .week-header {
      opacity: 0.8; }
    .datepicker-container .datepicker .week {
      height: 34px;
      margin-bottom: 2px; }
      .datepicker-container .datepicker .week .day {
        position: relative;
        color: #555;
        position: relative;
        text-decoration: none;
        font-weight: 400;
        font-size: 11px; }
        .datepicker-container .datepicker .week .day.today {
          font-weight: bold;
          color: #edae1f; }
        .datepicker-container .datepicker .week .day.disabled {
          background: #f3f3f3;
          color: #c1c1c1;
          cursor: default; }
          .datepicker-container .datepicker .week .day.disabled:hover {
            background: #555; }
        .datepicker-container .datepicker .week .day.blank:hover {
          background: none; }
        .datepicker-container .datepicker .week .day:hover, .datepicker-container .datepicker .week .day.selected {
          color: #ffffff;
          background: #00aec5; }
    .datepicker-container .datepicker .selected-dates-list {
      flex-grow: 1;
      font-weight: bold;
      background-color: #555;
      color: #ffffff;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      overflow-y: scroll; }
      .datepicker-container .datepicker .selected-dates-list .selected-date {
        padding: 4px;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
      .datepicker-container .datepicker .selected-dates-list.left, .datepicker-container .datepicker .selected-dates-list.right {
        flex-direction: column;
        min-width: 100px;
        max-height: 100%; }
      .datepicker-container .datepicker .selected-dates-list.top, .datepicker-container .datepicker .selected-dates-list.bottom {
        max-height: 300px;
        flex-wrap: wrap;
        justify-content: space-evenly; }
