.btn {
  font-family: "Roboto", sans-serif;
  position: relative;
  padding: 15px 25px;
  border-radius: 5px;
  border: 2px solid transparent;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center; }
  .btn:disabled::after {
    content: "";
    background: #ffffff24;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .btn.btn-outline {
    background: none;
    border: 2px solid #edae1f;
    color: #00a0ba; }
  .btn.btn-small {
    padding: 8px 10px;
    font-size: 10px; }
  .btn.btn-medium {
    padding: 10px 12px;
    font-size: 10px; }
  .btn.btn-secondary {
    background-color: #edae1f;
    border-color: #edae1f;
    color: #ffffff; }
  .btn.btn-primary {
    background-color: #00a0ba;
    border-color: #00a0ba;
    color: #ffffff; }
  .btn.btn-light {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000; }
    .btn.btn-light.btn-outline {
      background-color: transparent;
      border-color: #ffffff;
      color: #fff; }
  .btn.btn-facebook {
    background: #1e4389;
    border-color: #1e4389;
    color: #ffffff; }
  .btn.btn-google {
    background: #fd5b51;
    border-color: #fd5b51;
    color: #ffffff; }
  .btn .loader-spin {
    display: inline-block;
    width: 12px;
    height: 12px; }
    .btn .loader-spin:after {
      content: " ";
      display: block;
      width: 12px;
      height: 12px;
      margin: 1px;
      border-radius: 50%;
      border: 2px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
