@import "_colors.scss";
.btn {
  &:disabled {
    &::after {
      content: "";
      background: #ffffff24;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  font-family: "Roboto", sans-serif;
  position: relative;
  padding: 15px 25px;
  border-radius: 5px;
  border: 2px solid transparent;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  &.btn-outline {
    background: none;
    border: 2px solid $color1;
    color: $color2;
  }
  &.btn-small {
    padding: 8px 10px;
    font-size: 10px;
  }
  &.btn-medium {
    padding: 10px 12px;
    font-size: 10px;
  }
  &.btn-secondary {
    background-color: $color1;
    border-color: $color1;
    color: #ffffff;
  }
  &.btn-primary {
    background-color: $color2;
    border-color: $color2;
    color: #ffffff;
  }
  &.btn-light {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
    &.btn-outline {
      background-color: transparent;
      border-color: #ffffff;
      color: #fff;
    }
  }
  &.btn-facebook {
    background: #1e4389;
    border-color: #1e4389;
    color: #ffffff;
  }
  &.btn-google {
    background: #fd5b51;
    border-color: #fd5b51;
    color: #ffffff;
  }
  .loader-spin {
    display: inline-block;
    width: 12px;
    height: 12px;
    &:after {
      content: " ";
      display: block;
      width: 12px;
      height: 12px;
      margin: 1px;
      border-radius: 50%;
      border: 2px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
