.blog-article-container {
  margin: 0% 10%;
  .back-to-blog {
    margin-bottom: 50px;
  }
  .blog-publish-date {
    color: #9e9d9d;
    margin-bottom: 10px;
  }
  .blog-title {
    font-weight: 500;
    font-size: 25px;
  }
  .blog-text {
    margin-bottom: 50px;
  }
  .side-container {
    margin-top: 100px;
    .social-links-heading {
      display: inline-block;
      margin-right: 15px;
      font-size: 18px;
      font-weight: 300;
    }
    .social-links-container {
      display: inline-block;
      .social-links {
        display: flex;
        margin: 0;
        .social-link-item {
          list-style-type: none;
          flex: 0 0 25%;
          position: relative;
          color: #ffffff;
          font-size: 15px;
        }
        li {
          padding: 7px 7px;
          border-radius: 5px;
          position: relative;
          overflow: hidden;
          max-width: 150px;
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          margin-right: 10px;
        }
        .facebook {
          background-color: #3b5998;
        }
        .google {
          background-color: #d0422a;
        }
        .linkedin {
          background-color: #007bb5;
        }
        .twitter {
          background-color: #00acee;
        }
      }
    }
    .subscribe-title {
      font-size: 18px;
      font-weight: 500;
      margin-top: 50px;
      padding-bottom: 20px;
    }
    .subscribe-description {
      padding: 10px 0px;
    }
    .subscribe-input-container {
      input {
        background: #f8f8f8;
        padding: 15px 20px;
      }
    }
    .subscribe-button {
      padding: 10px 0px;
    }
  }
}
